<div class="center-block footer" role="footer">
		<div class="text-center">
           <!--
		    <a href="#">关于</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="tencent://message/?uin=276654272&amp;Site=xinshike.com&amp;Menu=yes">联系客服</a>	
		   -->
		    <a href="#">关于成前科技</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">联系客服: 0571-88192051</a>	
		</div>
		<div class="text-center">
           <!--  Powered by <a href="http://wjf.zataoa.com"><b>微露</b></a> v0.7 © 2014-2015 <a href="http://wjf.zataoa.com">wjf.zataoa.com</a> -->
		    Powered by <a href="#"><b>CQCloud云平台</b></a> v0.7  <a href="#"></a>
		</div>
	<div class="text-center">
		&nbsp;<a href="http://www.beian.miit.gov.cn">© 2011-2020 杭州成前科技有限公司   浙ICP备12004708号-3</a>
	</div>
	</div>