	


	$widget.setTemplate('top').addToContext('userBean',$userBean).addToContext('checkIndex','1').addToContext('message',$message)
	<div class="container-fluid">
		<div class="row">
			
			<div class="" style="margin-left:50px;">
				
				<div id="ul_score">
					<ul class="nav nav-tabs">
						<li  class="active"><a href="#">最新报警</a></li>
					</ul>
				</div>
				
				
				<div id="main_score">
					<div style="color:green;font-size:20px;">
						仅展示最近24小时的所有报警
                    </div>	
					<!--
					<div>
						<a href="$promotionModule.setTarget('goodEvaluateExport').param('shopId',$shopDO.id).param('status','1')" onclick="return confirm('确认要导出已通过的数据？'); return false;">导出已通过的数据</a>  &nbsp;&nbsp; &nbsp;&nbsp;
						<a href="$promotionModule.setTarget('goodEvaluatePayAll').param('shopId',$shopDO.id).param('status','1')" onclick="return confirm('此操作不可恢复，确认把已经通过的用户标记已支付？'); return false;" >把已通过的用户标记已支付</a> 
					</div>	
				-->
					<div class="main scoreChange" id = "scoreChange_manager"  >
						<div style="padding:15px;">
							<table class="table table-hover">
								<thead class="navbar-inner">
									<tr>
										<th style="width:140px;">区域</th>
										<th style="width:140px;">设备名</th>
										<th style="width:120px;">报警原因</th>
										<th style="width:70px;">时间</th>
									</tr>
								</thead>
								<tbody>
									#foreach($bean in $beanList)
										#foreach($alarmData in $bean.alarmBeanList)
        									<tr>
        										<td>#if("$!bean.area" != "") $!bean.area #else -- #end</td>	
        										<td>$!bean.devName</td>	
        										<td>$!alarmData.msg</td>	
												<td>$!alarmData.alarmTime</td>	
        									</tr>
										#end
									#end
								</tbody>
							</table>
						</div>
					</div>

				</div>

				

			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		
	</script>
	<div class="container-fluid footer" role="footer">
		$widget.setTemplate('foot')
	</div>


