	


	$widget.setTemplate('top').addToContext('userBean',$userBean).addToContext('checkIndex','3').addToContext('message',$message)
	<div class="container-fluid">
		<div class="row">
			
			<div class="" style="margin-left:50px;">
				
				<div id="ul_score">
					<ul class="nav nav-tabs">
						<li  class="active"><a href="#">绑定邮箱</a></li>
					</ul>
				</div>
				
				
				<div id="main_score">
					<!--
					<div>
						<a href="$promotionModule.setTarget('goodEvaluateExport').param('shopId',$shopDO.id).param('status','1')" onclick="return confirm('确认要导出已通过的数据？'); return false;">导出已通过的数据</a>  &nbsp;&nbsp; &nbsp;&nbsp;
						<a href="$promotionModule.setTarget('goodEvaluatePayAll').param('shopId',$shopDO.id).param('status','1')" onclick="return confirm('此操作不可恢复，确认把已经通过的用户标记已支付？'); return false;" >把已通过的用户标记已支付</a> 
					</div>	
					-->
					
					<form id="reply-form" class="form-horizontal form ng-pristine ng-valid" action="$userModule.setTarget('doBindMail')" method="post">
						<input type="hidden" name="bindMailValue" id="bindMailValue" value="$!userBean.mail" />
						<div class="form-group">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										 &nbsp;&nbsp;
										<!-- <a href="$promotionModule.setTarget('viewAddArticle').param('shopId',$shopDO.id)">添加文章</a>  &nbsp;&nbsp;&nbsp;&nbsp;   -->
										 <tt style="color:red;">$!msg</tt>
									</div>
									
									<ul class="list-group">
										<li class="list-group-item">
											<div class="form-group">
												<div class="col-sm-6 col-md-8 col-xs-12">
													
													<span class="help-block"></span>
												</div>
											</div>
											
											#if("$!userBean.mail" != "")
												<div class="form-group">
                									<div id="" style="padding-left:50px;" class="col-xs-12 col-sm-9 col-md-10">
            											<tt id="">
                											已绑定邮箱：$!userBean.mail
															<input name="button" style="float:right;margin-right: 60%;margin-left: 20px;" type="button" onclick="removeEmail();" value="解除绑定" class="btn btn-primary col-lg-1">
                										</tt>
                									</div>
                								</div>
											
    											<div class="form-group">
                									<div id="" style="padding-left:50px;" class="col-xs-12 col-sm-9 col-md-10">
            											<tt id="">
                											新绑定邮箱:<input type="text" style="width:250px;display:inline;height:30px;" id="mail" name="mail" class="form-control">
    														<br>
                										</tt>
                									</div>
                								</div>
											
											#else
												
    											<div class="form-group">
                									<div id="" style="padding-left:50px;" class="col-xs-12 col-sm-9 col-md-10">
            											<tt id="">
                											绑定邮箱:<input type="text" style="width:250px;display:inline;height:30px;" id="mail" name="mail" class="form-control">
    														<br>
                										</tt>
                									</div>
                								</div>
												
											#end	
											
											
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1"> 
							</div>
						</div>
					</form>
                          
				</div>

				

			</div>
		</div>
	</div>

	<div>

		<form id="reply-form-remove" class="form-horizontal form ng-pristine ng-valid" action="$userModule.setTarget('doBindRemoveMail')" method="post">
			<input type="hidden" name="bindMailValue" id="bindMailValue" value="$!userBean.mail" />

		</form>
	</div>
	
	<script type="text/javascript">
		function removeEmail() {
			if(!confirm('确定要解除 $!userBean.mail 绑定吗？')) {
				return;
			}
			// alert("执行解除绑定");
			var removeForm = document.getElementById("reply-form-remove");
			removeForm.submit();

		}
	</script>
	<div id="footerForFootId" class="container-fluid footerForFoot" role="footer">
		$widget.setTemplate('foot')
	</div>


