	
<script type="text/javascript" src="$staticServer/js/weijifen/datepicker/WdatePicker.js"></script>
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

	$widget.setTemplate('top').addToContext('userBean',$userBean).addToContext('checkIndex','4').addToContext('message',$message)
	<div class="container-fluid">
		<div class="row">
			
			<div class="" style="margin-left:50px;">
				
				<div id="ul_score">
					<ul class="nav nav-tabs">
						<li  class="active"><a href="#">历史曲线</a></li>
					</ul>
				</div>
				
				
				<div id="main_score">
					<!--
					<div>
						<a href="$promotionModule.setTarget('goodEvaluateExport').param('shopId',$shopDO.id).param('status','1')" onclick="return confirm('确认要导出已通过的数据？'); return false;">导出已通过的数据</a>  &nbsp;&nbsp; &nbsp;&nbsp;
						<a href="$promotionModule.setTarget('goodEvaluatePayAll').param('shopId',$shopDO.id).param('status','1')" onclick="return confirm('此操作不可恢复，确认把已经通过的用户标记已支付？'); return false;" >把已通过的用户标记已支付</a> 
					</div>	
					-->
					<form method="post" id="form1" name="form1">
						<input type="hidden" name="selectForm" id="selectForm" value="$userModule.setTarget('historyCurve')" />
                        	<div class="panel panel-default">
                                <div class="panel-heading">
                                  <h3 class="panel-title">搜索 （选择设备，选择间隔时间，查询的日期段）</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-10 col-sm-10 col-xs-12">
											
											<select name="snaddr" style="padding-right:10px;float:left;height:35px;margin-right:20px;">

												#foreach($bean in $beanList)
												 <option value="$!bean.snaddr" #if($!deviceDataBean.snaddr == $bean.snaddr) #set($devName = $bean.devName) #set($currentBean = $bean ) selected #end>$!bean.devName</option>
												#end
											</select>
											<select name="rangeTime" id="rangeTime" style="padding-right:10px;float:left;height:35px;margin-right:20px;">
												 <option value="1"  #if($!deviceDataBean.rangeTime == 1) selected #end>1分钟</option>
												 <option value="5" #if($!deviceDataBean.rangeTime == 5) selected #end>5分钟</option>
												 <option value="10" #if($!deviceDataBean.rangeTime == 10) selected #end>10分钟</option>
												 <option value="15" #if($!deviceDataBean.rangeTime == 15) selected #end>15分钟</option>
												 <option value="20" #if($!deviceDataBean.rangeTime == 20) selected #end>20分钟</option>
												 <option value="25" #if($!deviceDataBean.rangeTime == 25) selected #end>25分钟</option>
												 <option value="30" #if($!deviceDataBean.rangeTime == 30) selected #end>30分钟</option>
												 <option value="60" #if($!deviceDataBean.rangeTime == 60) selected #end>60分钟</option>
											</select>
        									<input style="width:160px;float:left;margin-right:20px;" class="form-control" placeholder="开始时间" id="startTime" name="startTime" value="$!deviceDataBean.startTime" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm',minDate:'2017-01-01 00:00:00',maxDate:''})" type="text">        
        									<input style="width:160px;float:left;margin-right:20px;" class="form-control" placeholder="结束时间" id="endTime" name="endTime" value="$!deviceDataBean.endTime" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm',minDate:'2017-01-01 00:00:00',maxDate:''})" type="text">        
											<input style="float:left;margin-right:10px;" class="btn btn-primary" type="button" value="搜索" onclick="submitSelect()" >      
										</div>
    								</div>
    							</div>
                            </div>
                    	
                      </form>
					  
					  <div id="container" style="min-width:400px;height:650px"></div>

					  
                          
					<!--
					<div class="main scoreChange" id = "scoreChange_manager">
						<div style="padding:15px;">
							<table class="table table-hover">
								<thead class="navbar-inner">
									<tr>
										<th style="width:140px;">编号</th>
										<th style="width:140px;">温度(℃)</th>
										<th style="width:120px;">湿度(%RH)</th>
										<th style="width:70px;">时间</th>
									</tr>
								</thead>
								<tbody>
									#foreach($dataBean in $dataList)
    									<tr>
    										<td>$velocityCount</td>	
    										<td>$!dataBean.temp</td>	
    										<td>$!dataBean.humi</td>	
											<td>$!dataBean.time</td>	
    									</tr>
									#end
								</tbody>
							</table>
						</div>
					</div>
					  -->

				</div>

				

			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		function submitSelect() {
			if(checkForm()) {
				var actionUrl = document.getElementById("selectForm").value;
			   	document.form1.action = actionUrl;
				document.form1.submit();
				return;
			}	
		}
		
		function checkForm() {
    		var startTimeValue = document.getElementById("startTime").value;
    		var endTimeValue = document.getElementById("endTime").value;
    			
    		 if(startTimeValue == null || startTimeValue.length == 0) {
    		 	alert("开始时间不能为空");
    			return false;
    		 }
    		 
    		 if(endTimeValue == null || endTimeValue.length == 0) {
    		 	alert("结束时间不能为空");
    			return false;
    		 }
    	 	 
			var start = stringToDate(startTimeValue);
			var end = stringToDate(endTimeValue);
			
			if(end.getTime() < start.getTime()) {
				alert("结束时间必须大于开始时间");
			 	return false;
			}
			
			var distanceDay = dateDiff(end,start);
			
			var rangeTimeValue = parseInt(document.getElementById("rangeTime").value);
			if(distanceDay > rangeTimeValue * 7) {
				var showMsg = "选择"+rangeTimeValue+"分钟，导出时间段最多为"+(rangeTimeValue * 7)+"天";
				alert(showMsg);
				return false;
			}
			
    		return true;
		}
		
		function dateDiff(d1, d2) {
			var day = 24 * 60 * 60 * 1000;
			var dis = d1.getTime() - d2.getTime();
			var diff = dis % day == 0 ? dis/day : (dis/day + 1);
			return parseInt(diff);
		}
		
		function stringToDate(str) {
            var tempStrs = str.split(" ");
            var dateStrs = tempStrs[0].split("-");
            var year = parseInt(dateStrs[0], 10);
            var month = parseInt(dateStrs[1], 10) - 1;
            var day = parseInt(dateStrs[2], 10);
            var timeStrs = tempStrs[1].split(":");
            var hour = parseInt(timeStrs [0], 10);
            var minute = parseInt(timeStrs[1], 10);
            var second = 0;
            var date = new Date(year, month, day, hour, minute, second);
            return date;
        }

	</script>
	<!--
	foot
	-->

	<script>
	$(function () {
    $('#container').highcharts({
      credits: {
        enabled: false
      },
      chart: {
            // zoomType: 'xy'
            zoomType: 'x'
        },
        title: {
          text: '温湿度历史曲线<br/>$currentBean.area -- $!devName($currentBean.snaddr)<br/>'
        },
        subtitle: {
            text: '时间间隔：$!{deviceDataBean.rangeTime}分钟 时间段：$!deviceDataBean.startTime - $!deviceDataBean.endTime'
        },
        xAxis: [{
            //categories: ['一月', '二月', '三月', '四月', '五月', '六月',
            //             '七月', '八月', '九月', '十月', '十一月', '十二月'],
			
			categories: [
    			#foreach($dataBean in $dataList)
    				#if($velocityCount > 1)
    					,
    				#end
    				'$!dataBean.time'
        		#end
			],

            crosshair: true
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value}°C',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: '温度',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            opposite: true
        }, { // Secondary yAxis
            gridLineWidth: 0,
            title: {
                text: '湿度',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} %RH',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            }
        }
		],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 80,
            verticalAlign: 'top',
            y: 55,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{
            name: '湿度',
            type: 'spline',
            yAxis: 1,
			// // 49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4
            data: [
			
				#foreach($dataBean in $dataList)
    				#if($velocityCount > 1)
    					,
    				#end
    				$!dataBean.humi
        		#end
			],
            tooltip: {
                valueSuffix: ' %RH'
            }
        },
		{
            name: '温度',
            type: 'spline',
			// 7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6
            data: [
				#foreach($dataBean in $dataList)
    				#if($velocityCount > 1)
    					,
    				#end
    				$!dataBean.temp
        		#end
			],
            tooltip: {
                valueSuffix: ' °C'
            }
        }]
    });
});

	</script>

