
<style>
	.more_text_not_show {
		float:left;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}

</style>

		$widget.setTemplate('top').addToContext('userBean',$userBean).addToContext('message',$message)
	<div class="container-fluid">
		<div class="row">
			
			<div class="" style="margin-left:50px;">
				
				<div class="clearfix textReplay"  id = "textReplay_manager">
					
					<div id="ul_score">
    					<ul class="nav nav-tabs">
    						<li  class="active"><a href="#">实时数据</a></li>
    					</ul>
                        <!-- <embed autostart='true' loop='true' src="$staticServer/alarmHtc1.mp3" width="200" height="30" showTracker="true"></embed> -->
						<!-- <audio src="$staticServer/alarmHtc1.mp3" id="audio1" hidden="false"  autoplay="true" loop="true"></audio>  -->
						#if($showMp3)
							<audio id="music" src="$staticServer/alarmHtc1.mp3" controls="controls" width="200" height="30"  preload="auto" autoplay="true" loop="true">
                               您当前浏览器暂无发播放报警音乐
                            </audio>
						#end	
    				</div>
    				
    				<form name="form11" id="form11" method="post" action="$userModule.setTarget('index')">
                        	<div class="panel panel-default">
                                <div class="panel-heading">
                                  <h3 class="panel-title">筛选</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-10 col-sm-10 col-xs-12">
											<select name="area" style="padding-right:10px;float:left;height:35px;margin-right:20px;">
                                            <option value="">全部</option>
                    						#foreach($tmpArea in $areaList)
                    						 <option value="$!tmpArea" #if($tmpArea == $area) selected #end>$!tmpArea</option>
                    						#end
                    					</select>
											<input style="float:left;" class="btn btn-primary" value="筛选" type="submit">       
										</div>
                                        <!--
										<div class="col-lg-2 col-sm-2 col-xs-12">
        									<input class="btn btn-primary form-control" id="submit" name="submit" value="搜索" type="submit">        
        								</div>
										-->
    								</div>
    							</div>
                            </div>
							
							#if($beanList.size() == 0)
    							<div class="panel-heading">
                                  <h3 class="panel-title">暂无设备</h3>
                                </div>
							#end
                      </form>
					  
					
					
				<!--
				<div class="panel panel-info" style="width:200px;">
						<div class="panel-heading">筛选</div>
						<div class="panel-body">
							<form action="$userManagerModule.setTarget('textReplay')" method="get" class="form-horizontal" role="form">
								<input type="hidden" name="shopId" value="$shopDO.id" />
								<input type="hidden" name="msgStatus" value="$query.msgStatus" />
								<div class="form-group">
									<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
									<div class="col-sm-8 col-lg-9 col-xs-12">
										<div class="btn-group">
											<a href="$userManagerModule.setTarget('textReplay').param('shopId',$shopDO.id).param('msgStatus',0)" #if($query.msgStatus == 0) class="btn btn-primary" #else class="btn btn-default" #end>所有</a>
											<a href="$userManagerModule.setTarget('textReplay').param('shopId',$shopDO.id).param('msgStatus',1)" #if($query.msgStatus == 1) class="btn btn-primary" #else class="btn btn-default" #end>启用</a> 
											<a href="$userManagerModule.setTarget('textReplay').param('shopId',$shopDO.id).param('msgStatus',2)" #if($query.msgStatus == 2) class="btn btn-primary" #else class="btn btn-default" #end>禁用</a>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>
									<div class="col-sm-8 col-xs-12">
										<input class="form-control" name="queryCondition" type="text" value="$!query.queryCondition">
									</div>
									<div class="col-xs-12 col-sm-2 col-lg-1 text-right">
										<button class="btn btn-default"> <i class="fa fa-search"></i>搜索</button>
									</div>
								</div>
							</form>
						</div>
					</div>	
				-->
				  
				<!--
				 #foreach($i in [1..12])
    				  <div class="panel panel-info" style="width:200px;float:left;margin-right:20px;">
    					<div class="panel-heading">
    						<tt>新SN测试$i</tt>
    						<tt style="float:right;" class="circle-warn"></tt>
    					</div>
    					<div class="clearfix panel-body wenshifont">
    						<div>
    							<tt>13.84℃</tt><tt style="float:right;color:red;">↑↓</tt>
    						</div>	
    						<div>
    							<tt>60.42%</tt><tt style="float:right;color:red;">↑↓</tt>
    						</div>	
    						<div class="clearfix wenshifont-small">
    							17-01-19 16:52
    						</div>	
    					</div>
    				</div>
    			#end	
				-->
				
				#foreach($bean in $beanList)
				 <div class="panel panel-info" style="width:200px;float:left;margin-right:20px;">
    					<div class="panel-heading" style="padding-bottom: 25px;">
    						<div class="more_text_not_show">${bean.devName}#if("${bean.area}" != "")(${bean.area})#end</div>
							#if($bean.dataBean.isSuccess())
								<tt style="float:right;" class="circle-success"></tt>
							#elseif($bean.dataBean.isNotConnection())
								<tt style="float:right;" class="circle-notconnection"></tt>
							#else
								<tt style="float:right;" class="circle-other"></tt>
							#end	
    						
    					</div>
    					<div class="clearfix panel-body wenshifont">
    						<div>
								#if($bean.dataBean.isSuccess())
    								#if($bean.dataBean.tempStatus > 0 )
										<tt style="color:red;">${bean.dataBean.temp}℃</tt>
    									<tt style="float:right;color:red;">↑</tt>
    								#elseif($bean.dataBean.tempStatus < 0)
										<tt style="color:blue;">${bean.dataBean.temp}℃</tt>
    									<tt style="float:right;color:blue;">↓</tt>
									#else
										<tt>${bean.dataBean.temp}℃</tt>
    								#end	
								#else
									<tt>离线</tt>
								#end
    						</div>	
    						<div>
								#if($bean.dataBean.isSuccess())
    								#if($bean.dataBean.humiStatus > 0 )
										<tt style="color:red;">${bean.dataBean.humi}%</tt>
    									<tt style="float:right;color:red;">↑</tt>
    								#elseif($bean.dataBean.humiStatus < 0)
										<tt style="color:blue;">${bean.dataBean.humi}%</tt>
    									<tt style="float:right;color:blue;">↓</tt>
									#else
										<tt>${bean.dataBean.humi}%</tt>
									#end
								#else
									<tt>离线</tt>
								#end
    							
    						</div>	
    						<div class="clearfix wenshifont-small">
									#if($bean.dataBean.isSuccess())
										$!{bean.dataBean.time}
									#else
										&nbsp;
									#end
    						</div>
    					</div>
    				</div>
				#end	

				
				
				</div>

				

			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		 window.setInterval(reloadPage, 5 * 60 * 1000);
		// window.setInterval(reloadPage, 60 * 1000);
        function reloadPage()
        {
        	document.form11.submit();
        } 
		
	</script>
	<div id="footerForFootId" class="container-fluid footerForFoot" role="footer">
		$widget.setTemplate('foot')
	</div>


